.column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
    padding: 6px;
  }
   
  .grid-container {
    display: flex;
    margin-top: 100px;
  }